.wrap {
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    font-size: 64px;
};

.age_block, .time, .bday {
    margin: 30px 0;
    //width: 100px;
    //display: flex;
    box-sizing: border-box;
};

.year {
    width: 400px;
}

